<%- include ../layouts/cabecera.ejs %>

<form method="post" action="/libros">
    <div class="form-group">
        <label for="my-input">Nombre:</label>
        <input id="my-input" class="form-control" type="text" name="nombre">
    </div>

    <div class="form-group">
        <label for="my-input">Imagen:</label>
        <input id="my-input" class="form-control-file" type="file" name="archivo">
    </div>
    
    <br>

    <button class="btn btn-primary" type="submit">Guardar</button>
</form>

<%- include ../layouts/pie.ejs %> 